<!DOCTYPE html>
<html>
  <head>
    <title>TweetsFetcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <% if current_user %>
        <p class="navbar-text navbar-right"> Signed in as <%= current_user.name %></p>
        <a href="/logout" class="btn btn-outline-primary" role="button" aria-pressed="true">Log out</a>
      <% else %>
        <a href="/auth/twitter" class="btn btn-outline-primary" role="button" aria-pressed="true">Log in via Twitte</a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
